.slide{
	width: 100%;
}
.slide > img {
	width: 100%;
}

#time-indicator{
    margin: 20px 0;
    width:0%;
    height: 3px;
    background-color: #666;
}

.goto-slide{
    margin-left: 10px;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    border: solid 1px #000;
    background-color: #efefef;
    border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 8px #aaa;
    -moz-box-shadow: inset 0px 0px 8px #aaa;
    box-shadow: inset 0px 0px 8px #aaa;
}
.goto-slide.current {
    background-color: #1d9b6c;
    /**background-color: #666;**/
}
#controls{
	margin: 10px 0 20px;
    float: right;
    overflow: hidden;
}
#controls li {
    display: inline;
}
ol, ul {
    list-style: disc;
    padding:0px;
}

body{
	background: #111;
}
.raised-box{
	background: #111;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	border-left: 2px solid #222;
	border-top: 2px solid #222;
	padding: 25px;
}
.pressed-box{
	background: #111;
	border-right: 2px solid #222;
	border-bottom: 2px solid #222;
	border-left: 2px solid #000;
	border-top: 2px solid #000;
    padding: 25px;
}

.footer{
	background: #000;
	margin-top: 40px;
}
.footer > p{
	margin: 0px;
	padding: 10px;
}
#about > div > div > ul{
		columns: 2;
		column-gap: 2.5em;
  	-webkit-columns: 2;
		-webkit-column-gap: 2.5em;
  	-moz-columns: 2;
		-moz-column-gap: 2.5em;
    text-align: left;
}

@media (max-width: 768px){
	#about > div > div > ul {
	    columns: 1;
	    -webkit-columns: 1;
	    -moz-columns: 1;
	}
	.row.raised-box{
		font-size: 12px;
	}
	.content-section {
    padding-top: 40px;
	}
	p{
		font-size: 14px;
	}
	h3{
		font-size: 18px;
	}
	.footer{
		margin-top: 0px;
	}
}


#portfolio > div > div.col-lg-12 > div.col-lg-8.col-xs-8.col-xs-offset-2 > footer{
    padding: 10px 0;
}

.intro{
	height: 100%;
}

@media all and (orientation: portrait) {
	.col-xs-offset-2 {
		margin-left: 0%;
	}
	.col-xs-8 {
		width: 100%;
	}
	.slider-controls > div{
		clear: both;
	}
}

h2#blog-title{
	font-size: 18px;
}
/**
h2#blog-title{
	text-transform: inherit;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: inherit;
  letter-spacing: inherit;
	font-size: 18px;
	padding-left: 60px;
	position: relative;
}
h2#blog-excerpt{
	padding-right: 30px;
	position: relative;
}
#blog-title:before {
  content: open-quote;
  font-size: 100px;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
	font-weight: normal;
	font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: absolute; left:0px; top: 30px;
}
#blog-excerpt:after{
	content: close-quote;
  font-size: 100px;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
	position: absolute; bottom:0px; right:0px;
	font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
**/
